*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{

    width: 30%;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(247, 242, 235);
    padding: 10px 20px;
    border-radius: 10px;
    
}

.contenedor h2{
    text-align: center;
    margin: 5px 0px;
    color: rgb(77, 2, 2);
}

.contenedor h3{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(143, 142, 142);
}

.dato{
    margin: 10px 0px;
}

#inCalculo{
    padding: 7px;
    background-color: rgb(77, 2, 2);
    border-radius: 5px;
    color: white;
}